#mapCanvas
{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #CCC;
    width: 100%;
    height: 450px;
    box-shadow: 1px 1px 2px #BBB;
}

#mapHeader
{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-image: url('Images/noise.png');
    background-color: #E5E5E5;
    width: 100%;
    border: 1px solid #CCC;
    box-shadow: 1px 1px 2px #BBB;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

#mapHeader #search
{
    display: inline-block;
    margin: 10px;
    width: 50%;
}

#mapHeader input[type=text]
{
    border: 1px solid #bbb;
    border-radius: 5px;
    font-family: 'London' , 'Tahoma' , 'Arial' , 'Maiandra GD' , sans-serif;
    font-size: 11pt;
    margin: 0;
    padding: 8px;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#mapHeader input[type=text]:hover,
#mapHeader input[type=text]:focus
{
    border-color: #999;
}

#mapHeader input[type=text]:focus
{
    box-shadow: 0px 0px 4px #bbb;
}

#mapHeader #tip
{
    cursor: default;
    display: inline-block;
    margin-left: 20px;
    width: 40%;
}

#mapHeader #tip span
{
    color: #666;
    font-family: 'BuxtonSketch';
    font-size: 14pt;
    text-shadow: 1px 1px #CCC;
}

#mapHeader #tip img
{
    vertical-align: middle;
}

#mapFilters
{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #F0F1F2;
    border-left: 1px solid #CCC;
    border-top: 1px solid #CCC;
    float: left;
    height: 450px;
    opacity: .3;
    position: absolute;
    width: 83px;
    z-index: 9997;
}

#mapFilters:hover
{
    opacity: 1;
    box-shadow: 2px 0px 2px #C0C1C2;
}

#mapFilters .button
{
    border: 1px solid #F0F1F2;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 10px;
    height: 60px;
    width: 60px;
}

#mapFilters .button
{
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
}

#mapFilters .button img
{
    opacity: .8;
}

#mapFilters .button:hover img,
#mapFilters .button:active img,
#mapFilters .button.active img
{
    opacity: 1;
}

#mapFilters .button:hover
{
    background-color: #b0bad0;
    border: 1px solid #a0aac0;
    box-shadow: 0px 0px 1px #a0aac0;
}

#mapFilters .button:active,
#mapFilters .button.active
{
    background-color: #d0daf0;
    background-image: -webkit-gradient(linear, 0% 70%, 0% 100%, from(#b0bad0), color-stop(1, #d0daf0));
    background-image: -moz-linear-gradient(top, #d0daf0 0%, #b0bad0 40%);
    border-color: #90969d;
    box-shadow: 0px 0px 4px #f2f8ff;
}

#mapFilters .button.bus img
{
    margin: 7px;
    width: 45px;
    height: 45px;
}

#mapFilters .button.rideOffer img
{
    margin: -1px 3px;
    width: 50px;
    height: 50px;
}

#mapFilters .button.rideRequest img
{
    margin: 10px;
    width: 40px;
    height: 40px;
}

#mapFilters .button.help img
{
    margin: 5px;
    width: 50px;
    height: 50px;
}

#mapFilters .tip
{
    color: #444;
    cursor: default;
    display: block;
    font-family: 'BuxtonSketch';
    font-size: 13pt;
    margin: 2px 7px;
    text-align: center;
    text-shadow: 1px 1px #BBB;
}

#mapFilters .tip:last-child
{
    margin: 2px 16px;
}

#mapFilters div
{
    height: 5px;
}

#mapActions
{
    background-color: #F0F1F2;
    border: 1px solid #D0D1D2;
    border-radius: 3px;
    box-shadow: 0px 0px 4px #C0C1C2;
    display: none;
    float: left;
    font-size: 11pt;
    position: absolute;
    z-index: 9997;
}

#mapActions ul
{
    list-style: none;
    margin: 0;
    padding: 0;
}

#mapActions ul li
{
    cursor: default;
    margin: 0;
    padding: 10px 20px;
}

#mapActions ul li:hover
{
    background-color: #E0E1E2;
}

#mapActions ul li .text
{
    margin-left: 10px;
}

#mapActions ul li .mark
{
    margin-left: -20px;
    padding: 10px 1px;
}

#mapActions ul li:hover .mark
{
    background-color: #90969d;
    margin-left: -20px;
    padding: 10px 1px;
}

#mapActions ul li,
#mapActions ul li span
{
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    transition: background-color 300ms;
}

#mapMask
{
    background-color: #c4c4c4;
    display: none;
    float: left;
    height: 450px;
    left: 0px;
    opacity: .4;
    position: absolute;
    text-align: center;
    top: 190px;
    width: 90%;
    z-index: 9998;
}

#maskText
{
    background-color: #EDEEEF;
    border: 1px solid #D5D6D7;
    box-shadow: 0px 0px 4px #C5C6C7;
    cursor: default;
    display: none;
    float: left;
    font-size: 11pt;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 120px;
    z-index: 9999;
}

#maskText img
{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#maskText span
{
    margin-left: 5px;
    vertical-align: middle;
}

.busInfo,
.rideOfferInfo
{
    font-size: 11pt;
}

.busInfo h3,
.busInfo h4,
.rideOfferInfo h3,
.rideOfferInfo h4
{
    font-size: 11pt;
    margin: 0px;
    padding: 0px;
}

.busInfo ul
{
    list-style: none;
    padding: 0px;
    margin: 10px 2px 14px 2px;
}

.busInfo li
{
    margin: 2px;
}

.busInfo .hr,
.rideOfferInfo .hr
{
    background-color: #AAA;
    height: 1px;
    margin: 10px 2px;
}

.busInfo .createLineForm input[type=text]
{
    border: 1px solid #BBB;
    border-radius: 3px;
    font-family: 'London';
    font-size: 11pt;
    margin: 4px 0px;
    outline: none;
    padding: 4px;
    width: 160px;
}

.busInfo form input[type=submit]
{
    background-color: #446699;
    font-family: 'London';
    font-size: 10pt;
	font-weight: bold;
    color: #ddd;
    border: 1px solid #3a5a8a;
    border-radius: 5px;
    outline: none;
    padding: 4px;
    letter-spacing: .08em;
    text-shadow: 1px 1px #444;
}
            
.busInfo form input[type=submit]:hover,
.busInfo form input[type=submit]:focus
{
    border-color: #204070;
    background-color: #335588;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#446699), color-stop(1, #335588));
    background-image: -moz-linear-gradient(top, #446699 0%, #335588 100%);
    box-shadow: 0px 0px 5px #666;
}
            
.busInfo form input[type=submit]:focus
{
    border: 1px solid #ddd;
}
            
.busInfo form input[type=submit]:active
{
    border-color: #204070;
    background-color: #335588;
    background-image: -webkit-gradient(linear, 0% 60%, 0% 100%, from(#335588), color-stop(1, #446699));
    background-image: -moz-linear-gradient(bottom, #446699 0%, #335588 40%);
    box-shadow: 0px 0px 5px #888;
}

.rideOfferInfo .userPicture
{
    margin-left: 5px;
    vertical-align: bottom;
    /*
    float: right;
    position: absolute;
    top: 45px;
    right: 10px;*/
}

.rideOfferInfo .content
{
    margin-top: 5px;
}