/* Fonts */
@font-face
{
    font-family: London;
    font-style: normal;
    font-weight: normal;
    src: url(Fonts/LondonMM.ttf);
}

@font-face
{
    font-family: BuxtonSketch;
    font-style: normal;
    font-weight: normal;
    src: url(Fonts/BuxtonSketch.ttf)
}

/* General */
body
{
    background-image: url('Images/noise.png');
    background-color: #f0f0f0;
    font-family: 'London' , 'Tahoma' , 'Arial' , 'Maiandra GD' , sans-serif;
    font-size: 13pt;
    margin: 5px;
}

body a
{
    color: #04B;
}

/* Header */
header
{
    background-color: #335588;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#335588), color-stop(1, #204275));
    background-image: -moz-linear-gradient(top, #335588 0%, #204275 100%);
    border: 1px solid #446699;
    border-radius: 30px;
    box-shadow: 1px 1px 1px #888;
    height: 60px;
    margin: 30px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#logoContent img
{
    border: none;
}

/* Logo */
#logoImage
{
    float: left;
    margin-top: -20px;
}

#logoText
{
    float: left;
    padding-left: 16px;
    margin-top: 10px;
}

/* Content */
section#main
{
    margin: 50px 50px 10px 50px;
}

/* Form */
section#main form
{
    margin: 0;
}

/* Box-shadow transition */
input, label, img, span, textarea
{
    -webkit-transition: box-shadow 250ms;
    -moz-transition: box-shadow 250ms;
    transition: box-shadow 250ms;
}

/* Opacity transition */
div
{
    -webkit-transition: opacity 450ms;
    -moz-transition: opacity 450ms;
    transition: opacity 450ms;
}

.unselectable
{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* Footer */
/*footer
{
    border-top: 3px dashed #BBB;
    float: left;
    margin: 0;
    bottom: 2px;
    position: absolute;
    bottom: 100;
}*/

a#profile_picture_link {
    display: none;
    float: right;
    margin-right: 28px;
    position: relative;
    top: 5px;
}

img#profile_picture {
    border-radius: 4px;
    box-shadow: 0 0 6px 4px rgba(0,0,0,0.5);
}

img#profile_picture:hover {
    box-shadow: 0 0 12px 6px rgba(0,0,0,0.5);
    cursor: pointer;
    transition: all 0.5s;
}

a#logout {
    color: white;
    display: none;
    float: right;
    margin-right: 40px;
    position: relative;
    top: 18px;
}