<div class="rideOfferInfo">
    <h3 style="display:{displayAll};">Carona oferecida</h3>
    <div class="content" style="display: {displayAll};">
        
        <div>
            Por
            <a href="/Perfil/{userId}" title="Ver perfil" class="userName">{userName}</a>
            <img src="{userPicture}" alt="Imagem do usuário" class="userPicture" />
        </div>
        <p>Dia {date} às {time}.</p>
        <p>Destino: <a href='javascript:;' title="Ver no mapa" class="destination">{destination}</a>.</p>
        <div class="hr"></div>

        <div style="display: {added};">
            Você pediu essa carona.
            <input type="button" name="undoHitchhike" class="undoHitchhike" value="Desfazer" />
        </div>

        <div style="display: {notAdded};">
            <input type="button" name="hitchhike" class="hitchhike" value="Eu quero" />
        </div>
    </div>

    <h3 style="display:{displayOwner};">Carona oferecida por mim</h3>
    <div class="content" style="display: {displayOwner};">
        <div class="form">
            <form action="Map/UpdateRideOffer">
                <p>Para onde?</p>
                <input type="text" name="destination" value="{destination}" placeholder="Destino" />
                
                <p>Quando?</p>
                <input type="text" name="date" value="{date}" placeholder="Dia" />
                <input type="text" name="time" value="{time}" placeholder="Horário" />
                
                <input type="submit" name="save" value="Atualizar" />
            </form>
        </div>
        <div class="hr"></div>
        <div class="hitchhikers">
            <h4>Interessados</h4>
            {hitchhikersPictures}
        </div>
    </div>
</div>